<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HR Input</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body>
<a href="login.mvc">
  <input type="button" Value="Login"/>     
</a>
<a href="mainmenu.mvc">
  <input type="button" Value="Main Menu"/> 
</a>

<h1>Input Employee Data</h1>
<label for nameInput>Employee Name:</label>
<input type=text name=nameinput></input>
<br>
<label for addressInput>Address:</label>
<input type=text name=addressInput></input>
<br>
<label for nationalInsuranceNo>National Insurance Number:</label>
<input type=text name=nationalInsuranceNo></input>
<br>
<label for bankAccountInput>BankAccountNo:</label>
<input type=text name=bankAccountInput></input>
<br>
<label for salaryInput>Starting Salary:</label>
<input type=text name=salaryInput></input>
<br>
<label for employeeNumberInput>Employee Number:</label>
<input type=text name=employeeNumberInput></input>
<br>
<br>

<input type=submit onclick""></input>



</body>
</html>