<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>add student list</title>

 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

</head>
<body>
	<h1>Login</h1>
	<div>
	<form  class="col s12" method="post" name="student" action="submitForm.mvc">
		<div class="row">
        <div class="input-field col s6">
        	<label for="username">Username</label>
          <input name="username" type="text" class="validate">
        </div>
      	<div class="row">
        <div class="input-field col s6">
          <input placeholder="Password" name="password" type="text" class="validate">
        </div>
      	</div>
		<input type="submit" text="submit" href=salesReport.mvc/>
	</form>
	<!-- a href="studentLists.mvc">Go Back</a> -->
</body>
</html>
