<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sales</title>


 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


</head>
<body>
	<h1>Employee with highest sales</h1>
  <br>
  <br>
  <div>

    <h3> ${employee}

  </div>
	
	<a href="loginInput.html">Go Back</a>
</body>
</html>
